@model int

@{ 
    ViewBag.Title = "Error404";
}


<!-- using logging to display error messages -->


@*<div>
    <h4>@ViewBag.ErrorMessage </h4>
    <h4>@ViewBag.Url </h4>
    <h4>@ViewBag.Parameters </h4>
</div>*@


<a asp-controller="home" asp-action="index"> Click here to back to employees! </a>