<div class="text-center">
    <h2 class="text-danger">Access Denied</h2>
    <h5 class="text-danger">You can not access this resource! </h5>
    <div>
        <img src="~/images/icon.png" />
    </div>
</div>